.formcontainer{
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
.bodystyle{
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background:white;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}
.new-todo {
    padding: 16px 16px 16px 60px;
    border: none;
    /* background: rgba(0, 0, 0, 0.003); */
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
    width: -webkit-fill-available;
    font-size: 24px;
}

input:focus{
    outline:none;
}
.todo-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.todo-list li{
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    display: list-item;
    text-align: -webkit-match-parent;
}

.todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    /* -webkit-appearance: none; */
}

.todo-list li .destroy {
    /* display: none; */
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
    border: none;
    background: white;
    border:none;
}
.todo-list li .destroy:hover {
   border:none;
}

.todo-list li label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}
.todo-list li .toggle + label {
    background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22…2none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-position: center left;
}
.strikethrough {
    text-decoration:line-through;
}

.footer{
    color:#777;
    height: 20px;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
    text-align: center;
}

.footer .filters {
    list-style: none;
    display: inline;
}

.todo-count{
    text-align: left;
    float:left;
}
.clear-completed{
    text-align: right;
    float:right;

}
.filters li{
    display: inline;
}
.filters li a {
    text-decoration: none;
    margin: 3px;
    padding: 3px 7px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 3px;

}

.filters li a:hover {
    border-color: grey; 
}

.new-todo, .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo-list li .edit {
    /* display: none; */
}

.set-display-none{
    display: none !important;
}

 .editing{
    border-bottom: none;
    padding: 0px;
}
.filters li a.selected {
    border-color: rgba(175, 47, 47, 0.2);
}

button {
    background:none!important;
    color:inherit;
    border:none; 
    padding:2!important;
    font: inherit;
    /*border is optional*/
    /* border-bottom:1px solid #444;  */
    cursor: pointer;
}

